#x{
background-color: rgb(255, 238, 190);
width: 100px;
height: 50px;
font-size: 20px;
font-family: cursive;

}
#y{
    background-color: rgb(255, 238, 190);
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: cursive;
  
    }
#botonSuma{
    background-color: rgb(247, 197, 62);
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: cursive;
}

#botonRestar{
        background-color:  rgb(247, 197, 62);
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-family: cursive;
    
    }
#botonModulo{
        background-color: rgb(247, 197, 62);
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-family: cursive;
    
    }
    #botonPotencia{
        background-color:  rgb(247, 197, 62);
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-family: cursive;
        
    
    }
    #botonLogaritmox{
        background-color: rgb(247, 197, 62);
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-family: cursive;
    
    }
    #botonLogaritmoy{
        background-color: rgb(247, 197, 62);
        width: 100px;
        height: 50px;
        font-size: 30px;
        font-family: cursive;
    
    }
    #resultado{
        font-size: 50px;
        font-family: cursive;
        

    }